Package: carenage
Version: 0.1.0
Section: utils 
Priority: optional
Architecture: amd64 
Maintainer: Hubblo <contact@hubblo.org>
Description:  Continuous integration tool to assess the environmental
 impacts and energy consumption of an application in 
 development.
Homepage: https://gitlab.com/hubblo/carenage 
